<%- include("./partials/header"); -%>
<title>My Top 10 Movies</title>

<!-- body starts -->
<div class="container">
  <h1 class="heading">My Top 10 Movies</h1>
  <p class="description">These are my all time favourite movies.</p>

  <div class="container text-center add">
    <a href="/add" class="button">Add Movie</a>
  </div>

  <% movies.forEach(movie => { %>
  <div class="card">
    <div class="front" style="background-image: url('<%= movie.img_url %>')">
      <p class="large"><%= movies.indexOf(movie) + 1 %></p>
    </div>
    <div class="back">
      <div>
        <div class="title">
          <%= movie.title%>
          <span class="release_date">
            (<%= moment(movie.release_date).format("YYYY")%>)
          </span>
        </div>
        <div class="rating">
          <label><%= movie.rating%></label>
          <i class="fas fa-star star"></i>
        </div>
        <p class="review">"<%= movie.review%>"</p>
        <p class="overview"><%= movie.description%></p>

        <a href="/edit/<%= movie.title%>" class="button">Update</a>
        <a href="/delete/<%= movie.title%>" class="button delete-button">
          Delete
        </a>
      </div>
    </div>
  </div>
  <% }) %>
</div>
<!-- body ends -->
<%- include("./partials/footer"); -%>
