<%- include("./partials/header"); -%>
<title>Select Movie</title>
<div class="container">
  <h1 class="heading">Select Movie</h1>

  <% list.forEach(movie => { %>
  <p>
    <a href="/find/<%= movie.id %>">
      <%= movie.title %> - <%= moment(movie.release_date).format("YYYY")%>
    </a>
  </p>
  <% }) %>
</div>

<%- include("./partials/footer"); -%>
